<div class="w-100">
    <div class="p-grid p-nogutter p-relative">
        <img class="image-container" src="./assets/img/about_us_heading.jpg" style="width: 100%; height: 500px;"> <!--1920 500-->
        <div class="p-absolute p-d-flex p-justify-center p-align-center w-100 h-100">
            <div class="hero-content p-p-5">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
    <div class="margin-drop"></div>
    ewhioufq
    <ple-viewer [pageData]="page"></ple-viewer>
</div>