<div #page>
    <div *ngFor="let pageDatum of pageData; let i = index">
        <div *ngIf="pageDatum.seq==curEdit && pageDatum.seqBase==curEditBase">
            <app-section-editor [section]="pageDatum" (onFinished)="closeEdit($event)"></app-section-editor>
        </div>
        <div *ngIf="pageDatum.seq!=curEdit || pageDatum.seqBase!=curEditBase">
            <app-section-viewer 
                [section]="pageDatum" 
                [editable]="!isEditing()" 
                [seq]="pageDatum.seq"
                [seqBase]="pageDatum.seqBase" 
                (onEdit)="viewerEdit($event)"
                (onDelete)="viewerDelete($event)"
            ></app-section-viewer>
        </div>
    </div>
    <div *ngIf="newSection">
        <app-section-editor [section]="newSection" (onFinished)="closeEdit($event)"></app-section-editor>
    </div>
    <div class="spacing"></div>
    
    <div class="editor-footer">
        <div class="p-grid-medium p-justify-between">
            <div class="p-py-3">
                <button (click)="createNewSection()" [disabled]="isEditing()" pButton type="button" label="새 섹션 추가하기" icon="pi pi-check" class="ui-button-primary"></button>
            </div>
            <div class="p-py-3">
                <button (click)="finish()" pButton [disabled]="isEditing()" type="button" label="완료" icon="pi pi-check" class="ui-button-primary p-mr-2"></button>
                <!-- <button (click)="cancel()" pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
            </div>
        </div>
    </div>    
</div>