<div class="w-100">
    <div class="p-grid p-nogutter p-relative p-overflow-hidden" style="background-color: black;">
        <img class="image-container" [src]="pageHeader">
        <div class="p-absolute p-d-flex p-justify-center p-align-center w-100 h-100">
            <div class="p-grid-narrow p-nogutter">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <div class="title-panel">
                        <div>{{description1}}</div>
                        <h3>{{pageName}}</h3>
                        <div>{{description2}}</div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <div class="info-panel">
                        <table>
                            <tr>
                                <td class="field-title">{{fieldTitle1}}</td>
                                <td class="field">{{field1}}</td>
                            </tr>
                            <tr>
                                <td class="field-title">{{fieldTitle2}}</td>
                                <td class="field">{{field2}}</td>
                            </tr>
                            <tr>
                                <td class="field-title">{{fieldTitle3}}</td>
                                <td class="field">{{field3}}</td>
                            </tr>
                            <tr>
                                <td class="field-title">{{fieldTitle4}}</td>
                                <td class="field">{{field4}}</td>
                            </tr>
                            <tr>
                                <td class="field-title">{{fieldTitle5}}</td>
                                <td class="field">{{field5}}</td>
                            </tr>
                            <tr>
                                <td class="field-title">{{fieldTitle6}}</td>
                                <td class="field">{{field6}}</td>
                            </tr>
                        </table>
                        <button pButton label="참가신청하기"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-drop"></div>
    <ple-viewer [pageData]="contents"></ple-viewer>
</div>