<div class="p-grid p-nogutter menubar">
    <div class="p-grid-medium p-nogutter p-justify-between">
        <div class="title p-p-3">Social Maker Academy</div>
        <div class="menus p-d-flex p-justify-end">
            <div class="p-p-3 item">About Us</div>
            <div class="p-p-3 item">Courses</div>
            <div class="p-p-3 item">Review</div>
            <div class="p-p-3 item">Notice</div>
        </div>
    </div>
</div>

<ple-editor></ple-editor>

<div class="p-grid p-nogutter footer p-p-3">
    footer here
</div>
