<p-dialog header="이미지 추가하기" [(visible)]="display" [style]="{width: '50vw'}" [baseZIndex]="10000">
    
    <form [formGroup]="imageForm">
        <input type="file" (change)="onFileChange($event)" />
    </form>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="confirm()" label="Yes"></button>
        <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="No" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<button type="button" (click)="showDialog()" pButton icon="pi pi-folder" [label]="label" style="width: 12em;" class="ui-button-secondary"></button>