<p-dialog 
    header="이미지 선택하기" 
    [(visible)]="display" 
    [style]="{width: '50vw'}" 
    [baseZIndex]="10000"
    [dismissableMask]="true"
>
    <div class="p-grid">
        <div *ngFor="let image of imageList" class="p-col-3">
            <img 
                [ngClass]="{'image-icon-selected': image.imageId==selectedImage.imageId}"
                (click)="onImageClick(image)"
                (dblclick)="confirm()"
                class="image-icon" 
                [src]="image.thumbUrl" 
                [alt]="image.fileName"
            >
            <div class="image-label">{{image.fileName}}</div>
        </div>
    </div>
    <p-paginator [rows]="pageCount" [totalRecords]="rowCount" pageLinkSize="3" (onPageChange)="onPageChange($event)"></p-paginator>

    <p-footer>
        <div class="p-d-flex p-justify-between">
            <p-fileUpload 
                name="upload"
                accept="image/*"
                chooseLabel="새 이미지 업로드 하기"
                mode="basic"
                [auto]="true"
                [url]="requestUrl" 
                [maxFileSize]="maxSize"
                (onUpload)="onUpload($event)"
            >
            </p-fileUpload>
            <div class="p-d-flex"> 
                <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="취소하기" class="ui-button-secondary"></button>
                <button type="button" pButton icon="pi pi-check" (click)="confirm()" label="선택하기" [disabled]="selectedImage.imageId==-1"></button>
            </div>
        </div>
    </p-footer>
</p-dialog>

<button *ngIf="button" type="button" (click)="showDialog()" pButton [icon]="icon" [label]="label" style="width: 12em;" class="ui-button-secondary"></button>