<div class="p-grid p-nogutter p-relative item">
    <img class="image-container" [src]="bannerImageUrl.value" style="width: 100%; height: 400px;">
    <div class="p-absolute p-d-flex p-justify-center p-align-center w-100 h-100" style="z-index: 1000;">
        <div class="hero-content p-p-5 p-relative">
            <h1>{{pageName.value}}</h1>
        </div>
    </div>
    <div *ngIf="!isEdit && !lock" class="p-absolute overlay p-d-flex p-justify-center p-align-center w-100 h-100">
        <button (click)="edit()" pButton type="button" label="수정하기" icon="pi pi-check" class="ui-button-primary p-mr-2"></button>
    </div>
</div>
<form [formGroup]="aboutUsForm">
    <div *ngIf="isEdit" class="p-grid-medium">
        <p-card class="w-100 p-my-2" styleClass="ui-card-shadow">
            <div class="p-py-3">
                <label>페이지 이름</label>
                <span class="ui-inputgroup">
                    <input [maxLength]="dataLength.SHORT" formControlName="pageName" class="w-100" pInputText> 
                </span>
            </div>
            <div class="p-py-3">
                <label>백그라운드 이미지 URL</label>
                <span class="ui-inputgroup">
                    <input formControlName="bannerImageUrl" class="w-100" pInputText readonly>
                    <app-image-upload label="수정" icon="pi pi-pencil" (onSubmit)="imageUploaded($event)"></app-image-upload>
                </span>
            </div>
            <p-footer>
                <div class="p-d-flex p-justify-end w-100">
                    <button (click)="save()" pButton type="button" label="수정하기" class="ui-button-primary p-mr-2"></button>
                    <button (click)="cancel()" pButton type="button" label="취소하기" class="ui-button-secondary"></button>
                </div>
            </p-footer>
        </p-card>
    </div>
</form>