<form [formGroup]="courseForm" class="h-100 offset-dark">
<div class="p-grid-narrow p-nogutter h-100">
    <div class="p-col-12 p-md-6 p-grid p-nogutter p-dir-col p-px-5 p-py-10 p-sm-no-py">
        <div class="p-col p-sm-hide">
            <textarea
                pInputTextarea
                formControlName="description1"
                class="presentable-input bright-text w-100"
                placeholder="설명"
                [maxlength]="dataLength.LONG"
                autoResize="autoResize"
                rows="1"
            ></textarea>
        </div>
        <div class="p-col">
            <input
                pInputText
                formControlName="courseName"
                class="h1 presentable-input bright-text w-100" 
                placeholder="제목"
                [max]="dataLength.SHORT"
            >
        </div>
        <div class="p-col p-sm-hide">
            <textarea
                pInputTextarea
                formControlName="description2"
                class="presentable-input bright-text w-100"
                placeholder="설명"
                [maxlength]="dataLength.LONG"
                autoResize="autoResize"
                rows="1"
            ></textarea>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-px-5 p-py-10 p-sm-no-py">
        <div class="w-100 h-100 pannel p-p-3">
            <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="p-grid p-nogutter">
                <div class="p-col-3">
                    <input
                        pInputText
                        [formControlName]="'fieldTitle' + i"
                        class="presentable-input bright-text w-100" 
                        style="text-align: end;"
                        placeholder="제목"
                        [max]="dataLength.SHORT"
                    >
                </div>
                <div class="p-col-9">
                    <input
                        pInputText
                        [formControlName]="'field' + i"
                        class="presentable-input bright-text w-100" 
                        placeholder="내용"
                        [max]="dataLength.SHORT"
                    >
                </div>
            </div>
            <div class="h-divider"></div>
            <div 
                *ngIf="!urlEdit"
                class="p-p-2 button p-grid p-nogutter p-justify-center p-align-center"
                pTooltip="URL 수정하기"
                tooltipPosition="bottom"
                (click)="toggleUrl()"
            >
                <span class="p-p-default">참가 신청하기</span>
            </div>
            <div 
                *ngIf="urlEdit"
                class="p-p-2 button p-grid p-nogutter p-justify-center p-align-center"
                pTooltip="완료(Enter|ESC)"
                tooltipPosition="bottom"
                (keydown)="completeUrl($event)"
                (blur)="toggleUrl()"
            >
                <input
                    pInputText
                    formControlName="registerUrl"
                    class="presentable-input w-100" 
                    style="font-size: 1em;"
                    placeholder="URL"
                    [max]="dataLength.LONG"
                >
            </div>
        </div>
    </div>
</div>
</form>