<div class="p-grid-medium">
    <div class="p-col">
        <p-panel header="Main Menu" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            To Be Delivered
        </p-panel>
        <p-panel header="About Us" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <button pButton label="수정" class="ui-button-secondary" (click)="goToEditAboutUs($event)"></button>
        </p-panel>
        <p-panel header="Courses" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <div class="p-d-flex p-justify-between p-mb-2">
                <div>
                    <button pButton label="새 Course만들기" (click)="onCreateCourse()"></button>
                </div>
                <div>
                    <button [disabled]="selectedCourseId==-1" class="p-mr-2 ui-button-secondary" pButton label="내용 수정하기" (click)="goToEditCourse($event)"></button>
                    <button class="ui-button-danger" [disabled]="selectedCourseId==-1" pButton label="삭제하기" (click)="onCourseDelete()"></button>
                </div>
            </div>
            <p-orderList 
                [value]="courses" 
                [listStyle]="{'height':'168px'}"
                [dragdrop]="false"
                filter="filter" 
                filterBy="courseName" 
                filterPlaceholder="Course 이름으로 검색"
                (onSelectionChange)="onCourseSelected($event)"
                (onReorder)="onCourseOrdered($event)"
            >
                <ng-template let-course pTemplate="item">
                    <div class="ui-helper-clearfix w-100 p-d-flex p-justify-between">
                        <img [src]="course.thumbImageUrl" class="p-d-inline-block" width="72">
                        <div style="width: 70%;">{{course.courseName}}</div>
                    </div>
                </ng-template>
            </p-orderList>
        </p-panel>
        <p-panel header="Notice" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <p-table [value]="notices">
                <ng-template pTemplate="header">
                    <tr>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>수정일</th>
                        <th>관리</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-notice>
                    <tr>
                        <td>{{notice.noticeName}}</td>
                        <td>{{notice.creationDateTime}}</td>
                        <td>{{notice.updateDateTime}}</td>
                        <td>Yay</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
        <p-panel header="이미지 관리" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            To Be Delivered
        </p-panel>
    </div>
</div>