<div class="w-100" style="border-bottom: 1px solid #dddddd;">
    <div class="p-grid-medium p-justify-between">
        <div>
            <h3 class="p-pointer" (click)="goToAdmin($event)">Academy 관리자 페이지</h3>
        </div>
        <div>
            <button pButton (click)="goToMain($event)" type="button" label="Academy로 돌아가기" class="ui-button-secondary p-mt-3 p-mr-2"></button>
            <button pButton (click)="logout($event)" type="button" label="로그아웃" class="ui-button-secondary p-mt-3"></button>
        </div>
    </div>    
</div>
<router-outlet></router-outlet>