<p-carousel [value]="carousel" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="4000">
    <ng-template let-carousel pTemplate="item">
        <div class="p-grid p-nogutter p-relative">
            <img class="image-container" src="https://i.picsum.photos/id/{{carousel.id}}/1920/500.jpg" />
            <div class="p-absolute p-d-flex p-justify-center p-align-center w-100 h-100">
                <div class="hero-content p-p-5">
                    <h1>{{carousel.title}}</h1>
                    <p>{{carousel.description}}</p>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>
<div class="p-grid-medium">
    <div *ngFor="let item of courseCategory" class="w-100 p-my-3">
        <div class="item-heading">{{item.description}}</div>
        <h2>{{item.title}}</h2>

        <div class="p-grid">
            <div *ngFor="let course of courseByCategory(item.id)" class="p-col-6 p-md-4 p-lg-3">
                <p-card class="p-cursor-pointer" (click)="goToCourse(course.id)" header="{{course.title}}">
                    {{course.description}}
                </p-card>
            </div>
        </div>
    </div>
</div>

