<div *ngIf="loaded" class="w-100 p-relative p-d-flex p-justify-center p-align-center">
    <div class="w-100">
        <app-banner-editor [banner]="banner" (onEdit)="onBannerChange($event)"></app-banner-editor>
    </div>
    <div class="p-absolute">
        <app-about-us-editor 
            *ngIf="isAboutUs()" 
            [aboutUs]="bannerContent"
            (onEdit)="onBannerContentChange($event)"
        ></app-about-us-editor>
        <app-course-editor 
            *ngIf="isCourse()"
            [course]="bannerContent"
            (onEdit)="onBannerContentChange($event)"
            (valid)="isCourseMetaValid($event)"
        ></app-course-editor>
        <app-notice-editor *ngIf="isNotice()"></app-notice-editor>
    </div>
</div>
<div *ngIf="loaded && !isNewPage" class="w-100">
    <ple-editor
        [disabledByParent]="childComponentEditState == 1"
        [pageData]="contents" 
        (onFinished)="onFinished($event)" 
        (onSectionFinished)="onSectionFinished($event)" 
        (onSectionDelete)="onSectionDelete($event)"
        (onEditStateChange)="onBodyEditStateChange($event)"
    ></ple-editor>
</div>