.custom-text-color-green {
    color: green;
    display: inline;
}

.custom-text-color-red {
    color: red;
    display: inline;
}

.custom-text-color-orange {
    color: rgb(218, 141, 0);
    display: inline;
}

.custom-text-align-right {
    text-align: right;
}

.custom-text-shadow {
    text-shadow: 2px 2px rgba(0,0,0,0.15);
}